<form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name
    <input type="text" formControlName="firstName">
  </label>
  <label>
    Second Name
    <input type="text" formControlName="secondName">
  </label>

  <div formGroupName="address"> 
    <h3>Address</h3>
    <label>
      Address 1
      <input type="text" formControlName="address1">
    </label>
    <label>
      Address 1
      <input type="text" formControlName="address2">
    </label>
    <label>
      State
      <input type="text" formControlName="state">
    </label>
    <label>
      Zip Code
      <input type="text" formControlName="zip">
    </label>
  </div>
  <button type="submit" disabled="!userprofileForm.valid">Submit</button>
</form>

<label>
  Enter Email
  <input type="text" [formControl]="email">
</label>

<p>
  Display Value: {{ email.value }}
</p>

<button (click)="updateEmail()">Click to update email</button>


<form [FormGroup]="userForm" (ngSubmit)="onSubmit2">
  <label>
    Name 1
    <input type="text" formControlName="name1">
  </label>
  <label>
    Name 2
    <input type="text" formControlName="name2">
  </label>
  <label>
    Age
    <input type="text" formControlName="age">
  </label>
  <label>
    Email
    <input type="text" formControlName="email">
  </label>

  <button type="submit" disabled="!userForm.valid">Submit</button>
</form>
<!-- <app-header></app-header>
<app-fist-form></app-fist-form>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div> -->
