<p>log-in-form works!</p>
<form action="/action_page.php">
    <label class="input-label" for="fname">First name:</label>
    <input 
      attr.placeholder="{{ firstName }}" 
      class="form-input" 
      type="text" 
      id="fname" 
      name="fname" >
      <br><br>
    <label class="input-label" for="lname">Last name:</label>
    <input class="form-input" type="text" id="lname" name="lname"><br><br>
    <input class="submit-button" type="submit" value="Submit">
    <label>{{onDisplayFirstName()}}</label>
  </form>
